@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables/variables";

.main-color{
    background-color: $mainColor;
    &:hover {
        background-color: $mainColorHover;
    }
    @apply text-white;
}

@layer base {

    html {
        overflow-y: scroll;
    }

    form{
        input[type=text], input[type=password], input[type=email],  select, .form-control{
            @apply w-full rounded-md focus:outline-none active:outline-none focus:ring-0;
            border: $borderSize $borderStyle $formElementsBorderColor;

            &:focus {
                border: $borderSize $borderStyle $formElementsBorderColor;
            }
        }

        label{
            @apply font-bold;
        }
    }

    form {
        > div {
            @apply mt-2;
        }
    }

    svg {
        @apply inline;
    }

    button {
        &:focus, &:active {
            border: transparent;
            outline: none;
        }
    }

}

@layer components {

    nav, .dropdown-menu {
        @apply text-white;
        background-color: $navColor;
    }

    .error {
        @apply text-red-600 font-bold;
    }

    .primary-btn {
        @apply inline-flex text-center justify-center  px-4 py-2 border border-transparent rounded-md font-semibold text-xs uppercase tracking-widest
        focus:outline-none  transition ease-in-out duration-150;
        @extend .main-color;
    }

    .default-component {
        @apply max-w-7xl mx-auto;
    }

    main {
        @apply p-4 lg:pr-0 lg:pl-0;
    }

    svg {
        @apply inline;
    }

    .dialog-panel {
        @apply p-4;
    }

    .dialog-title {
        @apply text-center font-bold text-xl;
    }

    .radio-group-option {
        @apply cursor-pointer;
    }

    .small-datepicker .dp__input_wrap {
        @apply w-full;
    }

    .active-date {
        @apply rounded-md;
        @extend .main-color;
    }

    .right-position {
        @apply absolute top-0 right-0;
    }

}

nav {
    .router-link-active {
        @apply underline;
    }

    .router-link {
        @apply text-white;
    }
}

@import "footer";

.dangerous {
    background-color: $dangerousColor;
    &:hover {
        background-color: $dangerousColorHover;
    }
}

.icon {
    @apply cursor-pointer h-6 text-slate-600;
}

.form-card {

    input {
        @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
    }

    .social-btn {
        @apply w-full mb-2 mt-4 px-5 py-3 inline-flex items-center rounded-lg text-[#333] text-base tracking-wider font-semibold border-none outline-none shadow-lg bg-gray-50 hover:bg-gray-100 active:bg-gray-50;
    }

}

.tab {
    @apply w-full rounded-lg p-4 text-base font-medium leading-5 focus:outline-none active:outline-none;
}

.active-tab {
    @apply text-blue-700 shadow;
}

.custom-toast {
    @extend .main-color;
}

:root {
    --primary-color: #{$mainColor};
}
