@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables/variables";

@layer base {
    form label{
        @apply font-bold;
    }

    form input[type=text], form input[type=password],form input[type=email], form select, .form-control{
        @apply w-full rounded focus:ring-0;
        border: $borderSize $borderStyle $formElementsBorderColor;
    }

    form > div{
        @apply mt-2;
    }

    table td, table th{
        @apply border-collapse  p-2 ;
        border: $borderSize $borderStyle $tableBorderColor;
    }
    table th{
        background-color: $tableBgColor;
    }

    svg{
        @apply inline;
    }

    nav, .dropdown-menu{
        @apply text-white;
        background-color: $navColor;
    }
}

@layer components {
    .uploadBtn{
        @apply inline-flex items-center px-4 py-2 bg-green-800 border border-transparent rounded-md font-semibold text-xs
        text-white uppercase tracking-widest hover:bg-green-700 focus:bg-green-700 active:bg-green-900 focus:outline-none
        focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150;
    }

    .btn{
        @apply p-1 rounded-md text-white font-bold cursor-pointer hover:shadow-md;
    }

    .btn-style{
        background-color: $mainColor;
    }
    .btn-style:hover{
        background-color: $mainColorHover;
    }

    .btn-checkout{
        background-color: $btnCheckoutColor;
        @apply p-2 mt-4;
    }

    .btn-checkout:hover{
        background-color: $btnCheckoutColorHover;
    }

    .pagination-link-active{
        @apply text-white;
        background-color: $mainColor;
    }

    .pagination-link-active:hover{
        background-color: $mainColorHover;
    }


    .pagination-link{
        @apply p-2 text-sm sm:p-3 border border-slate-300;
    }

    .cart-product-amount{
        @apply absolute  text-white rounded-full h-6 w-6 text-center  left-5 bottom-3;
        background-color: $mainColor;
    }

    .adminCard{
        @apply relative text-3xl text-slate-800 font-bold shadow-lg rounded-lg p-24 border border-slate-300  text-center justify-center;
        background: linear-gradient(45deg,$mainColor, #fff);
    }

    .error{
        @apply text-red-600 font-bold;
    }

    .primary-btn{
        @apply inline-flex text-center justify-center  px-4 py-2 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest
        focus:outline-none  transition ease-in-out duration-150;

        background-color: $mainColor;
    }

    .primary-btn:hover{
        background-color: $mainColorHover;
    }

    .edit-btn{
        background-color: $editColorBtn;
    }
    .edit-btn:hover{
        background-color: $editColorBtnHover;
    }

    .default-component{
        @apply max-w-7xl mx-auto;
    }

    main{
        @apply p-4 lg:pr-0 lg:pl-0;
    }


    .tableWithBorder{
        @apply text-sm;
    }

    .tableWithBorder tr, .tableWithBorder td, .tableWithBorder th{
        @apply /*border border-slate-300*/ p-1;
    }
    .tableWithBorder th{
        @apply text-slate-500;
    }
    .tableWithBorder tr{
        @apply border-b-2;
    }

    svg{
        @apply inline;
    }

    .custom-radio .v-label {
        font-size: 0.75rem !important; /* Smaller text size with higher priority */
    }

    .custom-radio .v-radio {
        padding: 4px !important; /* Smaller padding with higher priority */
    }

    .dialog-panel{
        @apply p-4;
    }

    .dialog-title{
        @apply text-center font-bold text-xl;
    }

    .radio-group-option{
        @apply cursor-pointer;
    }

    .small-datepicker .dp__input_wrap{
        @apply w-48;
    }

    .active-date{
        @apply bg-emerald-500 text-white rounded-md;
    }

}

nav{
    .router-link-active{
        @apply underline;
    }

    .router-link{
        @apply  text-white;
    }
}

footer{
    background-color: $navColor;
    @apply p-4 text-white;

    .social-icon{
        @apply fill-gray-300 hover:fill-white w-7 h-7;
    }
    h4{
        @apply text-lg font-semibold mb-4 text-white;
    }

    .footer-ul{
        @apply space-y-2;
        a{
            @apply text-gray-300 hover:text-white text-sm;
        }
    }
}


.form-card{

    input{
        @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
    }
    .social-btn{
        @apply w-full mb-2 mt-4 px-5 py-3 inline-flex items-center rounded-lg text-[#333] text-base tracking-wider font-semibold border-none outline-none shadow-lg bg-gray-50 hover:bg-gray-100 active:bg-gray-50;
    }

}


.tab{
    @apply w-full rounded-lg p-4 text-base font-medium leading-5 focus:outline-none active:outline-none;
}

.active-tab{
    @apply text-blue-700 shadow;
}


.custom-toast {
    background-color: $mainColor!important;
    color: white;
}

:root {
    --primary-color: #{$mainColor}; // Interpolating the Sass variable
}
